{% extends "base.html" %}

{% block title %}
    Judo Quiz - Home
{% endblock %}

{% block content %}
    <h1 class="text-center mb-4">Judo Quiz</h1>
    <form action="/start_quiz" method="post" class="mx-auto" style="max-width: 300px;">
        <div class="form-group">
            <label>Select belts to be quizzed on:</label><br>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" name="belts" value="yellow" id="yellowBelt">
                <label class="form-check-label" for="yellowBelt">Yellow </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" name="belts" value="orange" id="orangeBelt">
                <label class="form-check-label" for="orangeBelt">Orange </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" name="belts" value="green" id="greenBelt">
                <label class="form-check-label" for="greenBelt">Green </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" name="belts" value="blue" id="blueBelt">
                <label class="form-check-label" for="blueBelt">Blue</label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" name="belts" value="brown" id="brownBelt">
                <label class="form-check-label" for="brownBelt">Brown</label>
            </div>
        </div>
        <button type="submit" class="btn btn-primary btn-block">Start Quiz</button>
    </form>
{% endblock %}