{% extends "base.html" %}

{% block content %}
{% if techniques %}
    <style>
        .blur-bottom {
            position: relative;
            overflow: hidden;
        }

        .blur-bottom::after {
            content: "";
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 8%; /* This covers the bottom 20% of the image */
            background: white;
            backdrop-filter: blur(1000px); /* Adjust the blur intensity here */
        }

        .blur-bottom img {
            height: 300px;
            width: 300px;
        }
    </style>
    <script>
        let currentTechnique = 0;
        let techniques = {{ techniques|tojson }};

        document.addEventListener("DOMContentLoaded", function () {
            document.getElementById('guessForm').addEventListener('submit', function (event) {
                event.preventDefault();
                checkAnswer();
            });
        });

        function checkAnswer() {
            let userAnswer = document.getElementById('answer').value;
            fetch('/check_answer', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({
                    answer: userAnswer,
                    technique: techniques[currentTechnique].id
                })
            })
            .then(response => response.json())
            .then(data => {
                if (data.result == 'Correct!') {
                    alert("Correct!");
                    currentTechnique++;
                    if (currentTechnique < techniques.length) {
                        document.getElementById('techniqueImage').src = techniques[currentTechnique].image_path;
                    } else {
                        window.location = "/congratulations";
                    }
                } else {
                    alert("Incorrect!");
                }
            })
            .catch(error => {
                console.error('Error:', error);
            });
        }
    </script>
    <div class="text-center mb-4 mx-auto blur-bottom">
        <h2 class="text-center mb-4">Guess the Technique</h2>
        <img id="techniqueImage" src="{{ techniques[0].image_path }}" alt="Judo Technique" class="img-fluid">
    </div>
    <form id="guessForm" class="mx-auto" style="max-width: 300px;">
        <input type="text" id="answer" class="form-control mb-3" placeholder="Enter technique name">
        <button type="submit" class="btn btn-primary btn-block">Submit</button>
    </form>
{% else %}
    <p>No techniques available for the selected belts.</p>
{% endif %}
{% endblock %}
