{% extends "base.html" %}

{% block title %}
    Techniques
{% endblock %}

{% block content %}
<h1 class="text-center">
    Common japanese words translated to Swedish
</h1>
<table class="table table-bordered  table-hover  text-center ">
    <thead class="thead-dark">
        <tr>
            <th>Japanskt ord</th>
            <th>Översättning</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>ashi</td>
            <td>ben, fot</td>
        </tr>
        <tr>
            <td>gari</td>
            <td>meja</td>
        </tr>
        <tr>
            <td>gatame</td>
            <td>kontrollteknik</td>
        </tr>
        <tr>
            <td>goshi/koshi</td>
            <td>höft</td>
        </tr>
        <tr>
            <td>hiza</td>
            <td>knä</td>
        </tr>
        <tr>
            <td>kami</td>
            <td>uppifrån</td>
        </tr>
        <tr>
            <td>ko</td>
            <td>liten</td>
        </tr>
        <tr>
            <td>kuzure</td>
            <td>variant</td>
        </tr>
        <tr>
            <td>morote</td>
            <td>båda händer</td>
        </tr>
        <tr>
            <td>nage</td>
            <td>kast</td>
        </tr>
        <tr>
            <td>o</td>
            <td>stor</td>
        </tr>
        <tr>
            <td>shiho</td>
            <td>fyra punkter</td>
        </tr>
        <tr>
            <td>soto</td>
            <td>utsida</td>
        </tr>
        <tr>
            <td>uchi</td>
            <td>insida</td>
        </tr>
        <tr>
            <td>waza</td>
            <td>teknik</td>
        </tr>
    </tbody>
</table>
{% endblock %}